

.col1  {
    width: 85%;
    border: 1px solid black;
}

.col2 {
    width: 15%;
    border: 1px solid black;
    padding-left: 25px;
}

.colwrap {
    display: flex;
    flex-direction: column;
}

.country {
    font-size: 36px;
    text-decoration: underline;
}

.head {
    font-size: 48px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    text-align: center;
}

.info {
    font-size: 20px;
}

path {
    fill: #30c;
}

path:hover {
    fill: #70f;
}

.rowwrap {
    display: flex;
    display: row-wrap;
}

#worldmap {
    padding-top: 25px;
    width: 100%;
}

