

.col1  {
    width: 85%;
    border: 1px solid black;
}

.col2 {
    width: 15%;
    border: 1px solid black;
}

.colwrap {
    display: flex;
    flex-direction: column;
}

.head {
    font-size: 48px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    text-align: center;
}

path:hover {
    fill: blue;
}

.rowwrap {
    display: flex;
    display: row-wrap;
}

#worldmap {
    width: 100%;
    height: 800px;
}

